div.ax-virtualized-list {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

div.ax-virtualized-list-header {
  display: flex;
  border-bottom: 1px solid #d6d6d6;
}

div.ax-virtualized-list-header > div {
  padding: 10px;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
}

div.ax-virtualized-list-header > div:first-child {
  margin-left: 14px;
}

div.ax-virtualized-list-header > div:last-child {
  margin-right: 14px;
}

div.ax-virtualized-list-header.compensate > div:last-child {
  margin-right: var(--ax-scrollbar, 14px);
}

/* tr */
div.ax-virtualized-list-body > div > div {
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
  font-size: 22px;
  height: 80px;
  display: flex;
  align-items: center;
}

div.ax-virtualized-list-body > div > div.zebra {
  background-color: #fafafa;
}
div.ax-virtualized-list-body > div > div.selected {
  background-color: #bee5fa;
}

/* td */
div.ax-virtualized-list-body > div > div > div {
  padding: 10px;
}
div.ax-virtualized-list-body > div > div > div.numeric {
  text-align: right;
}
div.ax-virtualized-list-body > div > div > div:first-child {
  margin-left: 14px;
}
div.ax-virtualized-list-body > div > div > div:last-child {
  margin-right: 14px;
}
