table.ax-grid {
  width: 100%;
  border-collapse: collapse;
  border: none;
  background-color: #ffffff;
}

table.ax-grid > thead > tr {
  border-bottom: 1px solid #d6d6d6;
}

table.ax-grid > thead {
  background-color: #ffffff;
}

table.ax-grid > thead > tr > td {
  padding: 10px;
  white-space: nowrap;
}

table.ax-grid > thead tr td:first-child {
  padding-left: 25px;
}

table.ax-grid > thead tr td:last-child {
  padding-right: 25px;
}

table.ax-grid > tbody > tr:nth-of-type(odd) {
  background-color: #fafafa;
}

table.ax-grid > tbody > tr {
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
  font-size: 20px;
  height: 80px;
}

table.ax-grid > tbody > tr > td {
  padding: 10px;
}

table.ax-grid > tbody > tr > td.numeric {
  text-align: right;
}

table.ax-grid > tbody > tr > td:first-child {
  padding-left: 25px;
}

table.ax-grid > tbody > tr > td:last-child {
  padding-right: 25px;
}
